<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test page add user</title>
</head>
<body>
<form:form method="POST" th:action="@{/addusertest}" modelAttribute="user" th:object="${user}">

<!--    <form:label path="username">Username</form:label>-->
<!--    <form:input path="username" />-->

<!--    <form:label path="id">Id</form:label>-->
<!--    <form:input path="id" />-->

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" name="username">
<!--    <label for="password">Password</label>-->
<!--    <input type="text" th:field="*{password}" id="password" name="password">-->
<!--    <label for="lastname">lastname</label>-->
<!--    <input type="text" th:field="*{lastname}" id="lastname" name="lastname">-->
<!--    <label for="age">roles</label>-->
<!--    <input type="text" th:field="*{roles}" id="roles" name="roles">-->
<!--    <label for="age">age</label>-->
<!--    <input type="text" th:field="*{age}" id="age" name="age">-->





    <input type="submit" value="Submit" />
</form:form>
</body>
</html>