<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
  <title>User delete form</title>

</head>
<body>

<div th:insert="blocks/header :: name-header"></div>

<div th:insert="blocks/body :: name-body"></div>

<div class="update">
  <div class="update_body">
    <form th:method="POST" th:action="@{/admin/user-delete/{id}(id=${user.getId()})}" th:object="${user}">
      <div style="border-bottom: 1px solid #dfdfdf">
        <div class="row align-items-start">
          <div class="col" style=" padding: 3%">
            <h4>Delete user</h4>
          </div>
          <div class="col">
          </div>
          <div class="col" align="right" style=" padding: 3%">
            <a th:href="@{/admin}" type="button" class="btn-close" disabled aria-label="Close"></a>
          </div>
        </div>
      </div>

      <div class="update-content">
        <!--            <form th:method="PATCH" th:action="@{/admin/update-user}" th:object="${user}">-->
        <div class="form-group">
          <label for="id">ID</label>
          <input class="form-control" readonly type="text" name="id" th:field="*{id}" id="id">

          <label for="username">Name: </label>
          <input class="form-control" readonly type="text" name="username" th:field="*{username}" id="username"/>

          <label for="lastname">Last Name: </label>
          <input class="form-control" readonly type="text" name="lastname" th:field="*{lastname}" id="lastname"/>

          <label for="age">Age: </label>
          <input class="form-control" readonly type="text" name="age" th:field="*{age}" id="age"/>

          <label for="email">Email: </label>
          <input class="form-control" readonly type="text" name="email" th:field="*{email}" id="email"/>

            <label>
              <input type="checkbox"
                     name="roleView"
                     th:value = "ROLE_ADMIN"
                     th:text="Admin">
            </label>
            <label>
              <input type="checkbox"
                     name="roleView"
                     th:value = "ROLE_USER"
                     th:text="User">
            </label>

        </div>
      </div>
      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a th:href="@{/admin}"><button class="btn btn-secondary me-md-2" type="button">Close</button></a>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>