<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
    <table>
        <thead>
            <tr class="border-top">
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">E-mail</th>
                <th scope="col">Roles</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user, rowStat : ${user}"
                th:classappend="${rowStat.count % 2 != 0 ? 'table-secondary' : 'table-light'}">
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.lastname}"/>
                <td th:text="${user.age}"/>
                <td th:text="${user.email}"/>
                <td>
                    <th:block each="role : ${user.getRoles()}">
                        &nbsp;<span text="${role.role}"/>
                    </th:block>
                </td>
                <td>
                    <a th:href="@{/admin/{id}/profile(id=${user.id})}"
                       class="btn btn-sm btn-info edit-button">Edit</a>
                </td>
                <td>
                    <a th:href="@{/admin/{id}/profile(id=${user.id})}"
                       class="btn btn-sm btn-danger delete-button">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>