
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="name-header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="row">


        <!--        <div class="col" th:each="currentUser: ${user1}"-->
<!--             style="background: black; color: white; padding: 0.5%  2%; font-size: 20px">-->
<!--            <span th:text="${currentUser.getEmail()}" style="font-weight: bold;"></span>-->
<!--            <span> with roles:</span>-->
<!--&lt;!&ndash;            <span th:text="${currentUser.getNameRole()}"></span>&ndash;&gt;-->
<!--            <span th:text="${currentUser.getUsername()}"></span>-->
<!--        </div>-->


        <div style="background: grey; color: white; padding: 0.5%  2%; font-size: 20px">

<!--            <a sec:authentication="${principal.username}"></a>-->
<!--            <td th:text="${authentication.getPrincipal()}"></td>-->

        </div>

        <div class="col" style="background: black; color: white; padding: 0.5%  2%;" align="right">
            <a href="/logout" style="text-decoration: none; color: #bcbcbc"> Logout</a>
        </div>
    </div>
</div>

<!--<header class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white"-->
<!--        xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--    <div><b sec:authentication="name"/> with roles:-->
<!--        <th:block th:each="role : ${#authentication.authorities}">-->
<!--            &nbsp;<span th:text="${role.getName()}"/>-->
<!--        </th:block></div>-->
<!--    <div><a class="text-light" th:href="@{/logout}">Logout</a></div>-->
<!--</header>-->
